---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=aurora,co&key=<GEOCODING_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Aurora",
                       "short_name" : "Aurora",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Arapahoe County",
                       "short_name" : "Arapahoe County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Aurora, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.826671,
                          "lng" : -104.4889061
                       },
                       "southwest" : {
                          "lat" : 39.550999,
                          "lng" : -104.884761
                       }
                    },
                    "location" : {
                       "lat" : 39.7294319,
                       "lng" : -104.8319195
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.826671,
                          "lng" : -104.4889061
                       },
                       "southwest" : {
                          "lat" : 39.550999,
                          "lng" : -104.884761
                       }
                    }
                 },
                 "place_id" : "ChIJmyu6IoZYbIcReOaii2jgQYQ",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 20 Apr 2020 08:52:51 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&lat=39.7294319&lon=-104.8319195
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.73,"lon":-104.83,"timezone":"America/Denver","current":{"dt":1587372772,"sunrise":1587384810,"sunset":1587433337,"temp":276.72,"feels_like":272.26,"pressure":1016,"humidity":39,"dew_point":265.07,"uvi":7.93,"clouds":75,"visibility":16093,"wind_speed":2.1,"wind_deg":170,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1587369600,"temp":276.72,"feels_like":272.75,"pressure":1016,"humidity":39,"dew_point":265.07,"clouds":75,"wind_speed":1.41,"wind_deg":169,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},{"dt":1587373200,"temp":277.19,"feels_like":273.96,"pressure":1015,"humidity":39,"dew_point":265.45,"clouds":73,"wind_speed":0.4,"wind_deg":17,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},{"dt":1587376800,"temp":277.1[...]
