---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY>&order_by=relevant&page=1&per_page=1&query=aurora%2Bco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY>&order_by=relevant&page=1920&per_page=1&query=aurora%2Bco>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY>&order_by=relevant&page=2&per_page=1&query=aurora%2Bco>;
        rel="next"
      X-Total:
      - '1920'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"total":1920,"total_pages":1920,"results":[{"id":"AWZU-5KIHc4","created_at":"2019-07-18T15:50:36-04:00","updated_at":"2020-02-21T00:06:38-05:00","promoted_at":null,"width":3206,"height":4809,"color":"#E8E8E6","description":null,"alt_description":"green
        car","urls":{"raw":"https://images.unsplash.com/photo-1563479411-276f68897b67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODcxNX0","full":"https://images.unsplash.com/photo-1563479411-276f68897b67?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEyODcxNX0","regular":"https://images.unsplash.com/photo-1563479411-276f68897b67?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyODcxNX0","small":"https://images.unsplash.com/photo-1563479411-276f68897b67?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEyODcxNX0","thumb":"https://images.unsplash.com/photo-1563479411-276f68897b67?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjEyODcxNX0"},"links":{"self":"https://api.unsplash.com/photos/AWZU-5KIHc4","html":"https://unsplash.com/photos/AWZU-5KIHc4","download":"https://unsplash.com/photos/AWZU-5KIHc4/download","download_location":"https://api.unsplash.com/photos/AWZU-5KIHc4/download"},"categories":[],"likes":25,"liked_by_user":false,"current_user_collections":[],"user":{"id":"OsO-dALJxJo","updated_at":"2020-04-15T02:35:13-04:00","username":"vineramazani","name":"Vine
        Ramazani","first_name":"Vine","last_name":"Ramazani","twitter_username":"Vineramazani
        ","portfolio_url":"http://linktr.ee/vineramazani","bio":"Just A Young Photographer
        Trying To Grow\r\nInquiries: Vineramazani@gmail.com\r\n","location":"Denver,
        Colorado","links":{"self":"https://api.unsplash.com/users/vineramazani","html":"https://unsplash.com/@vineramazani","photos":"https://api.unsplash.com/users/vineramazani/photos","likes":"https://api.unsplash.com/users/vineramazani/likes","portfolio":"https://api.unsplash.com/users/vineramazani/portfolio","following":"https://api.unsplash.com/users/vineramazani/following","followers":"https://api.unsplash.com/users/vineramazani/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1567446984025-68dfe529e7a5image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1567446984025-68dfe529e7a5image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1567446984025-68dfe529e7a5image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"Vineramazani","total_collections":0,"total_likes":127,"total_photos":24,"accepted_tos":true},"tags":[{"type":"landing_page","title":"car","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"things","pretty_slug":"Things"},"subcategory":{"slug":"car","pretty_slug":"Car"}},"title":"Car
        Images & Pictures","subtitle":"Download free car images","description":"Choose
        from a curated selection of car photos. Always free on Unsplash.","meta_title":"Best
        500+ Car Photos [Spectacular] | Download Car Images & Pictures - Unsplash","meta_description":"Choose
        from hundreds of free car pictures. Download HD car photos for free on Unsplash.","cover_photo":{"id":"m3m-lnR90uM","created_at":"2017-04-14T00:59:12-04:00","updated_at":"2020-03-21T01:02:46-04:00","promoted_at":"2017-04-14T13:20:15-04:00","width":5357,"height":3164,"color":"#E0E4EF","description":"I
        shot this while doing a job for a luxury automotive storage facility in Baltimore,
        MD. I wanted to create an ominous sense of intrigue, giving the feeling of
        a space that was both expansive and enclosed. I enjoy the journey my eyes
        take from the focal point of t[...]
[...]
